<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.CategoryMapper">

    <resultMap id="CategoryVO" type="com.cskaoyan.bean.GoodsPart.VO.CategoryVO">
        <result column="id" property="value"></result>
        <result column="name" property="label"></result>
        <collection property="children" column="id" select="selectChildrenCatesById"></collection>
    </resultMap>

    <select id="getAllCategoryVO" resultMap="CategoryVO">
        select id, name from cskaoyanmall_category where `level` = "L1"
    </select>
    <select id="selectChildrenCatesById" resultType="com.cskaoyan.bean.GoodsPart.VO.CategoryVO">
        select id as value, name as label from cskaoyanmall_category where pid = #{pid}
    </select>
    <select id="getPidById" resultType="java.lang.Integer">
        select pid from cskaoyanmall_category where id = #{id}
    </select>
</mapper>
