<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.MallConfigMapper">
    <resultMap id="mallConfigMap" type="HashMap">
        <result column="key_name" property="key"/>
        <result column="key_value" property="value"/>
    </resultMap>
    <select id="selectMallConfig" resultMap="mallConfigMap">
        select key_name,key_value
        from cskaoyanmall_system
         where key_name
        like CONCAT('cskaoyan_mall_',#{condition},'%')
    </select>
</mapper>